---
import { Image } from 'astro:assets';
const resumeLink = "https://drive.proton.me/urls/AA92EBS2GG#BarCsocdBbTW";
---

<section id="about" class="py-20 bg-gray-800/50">
    <div class="container mx-auto px-6">
        <div class="flex flex-col md:flex-row items-center gap-12">
            <div class="md:w-1/3">
                <Image
                src="/img/photo-coder.png"
                class="rounded-2xl shadow-xl hover:rotate-3 transition-transform duration-300"
                alt="Dmytro Shyrokov"
                width={400}
                height={400}
                format="webp"
                loading="eager"
              />
            </div>
            <div class="md:w-2/3">
                <h3 class="text-3xl font-bold mb-6">👋 Hello there!</h3>
                <p class="text-gray-400 mb-6">
                    Hello! My name is Dmytro, and I am 20 years old.
                    I am a Python and Backend Developer with experience in building robust APIs and software solutions.
                    I have three years of Python programming experience. My development stack includes frameworks such as FastAPI,
                    PyQt5, aiogram, and Flask. Additionally, I use PostgreSQL for databases and other Python tools like Alembic,
                    SQLAlchemy, Black, Pydantic and Poetry. In order to achieve my coding goals I often use VSCode, Postman, Insomnia, Qt Creator
                    and other software solutions. When I'm not coding, you can find me capturing mesmerizing shots of urban
                    and natural landscapes, engaging in sports, or contributing to my open-source projects.
                </p>
                <div class="flex gap-4">
                    <a href="#contact" class="bg-blue-600 hover:bg-blue-700 px-6 py-3 rounded-lg font-medium transition">
                        Hire Me
                    </a>
                    <a target="_blank" href=`${resumeLink}`
                        class="border border-blue-400 text-blue-400 hover:bg-blue-400/10 px-6 py-3 rounded-lg font-medium transition">
                        Download Resume
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>