---
import '../styles/style.css';

const title = "Dmytro Shyrokov - Python & Backend Developer";
const description = "Python & Backend Developer specializing in Software & API design and development. Building robust and scalable APIs with Python and FastAPI.";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/img/youngling-coder.png" />
    <title>{title}</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body class="bg-gray-900 text-gray-100 font-['Inter']">
    <slot />
</body>
</html>